{% extends "base.html" %}

{% block body %}

<h1>Welcome, {{ session['username']|upper }} </h1>

  <div class="container mt-4">

    <form action="/" method="post">
        <div class="row d-flex btn-block mb-5">
            <div class=" col-sm-12 col-lg-10">
                <input type="text" name="title" placeholder="Title" class="form-control" placeholder-right="Task title"/>
            </div>
            <div class=" col-sm-12 col-lg-10 mt-3">
                <textarea name="description" placeholder="Description" class="form-control" placeholder-right="Task description"></textarea>
            </div>
            <div class=" col-sm-12 col-lg-2 mt-2 mt-md-0">
                <input type="submit" value="Ajouter" class="btn btn-success btn-sm-block"/>
            </div>    
        </div>
    </form>

        <table data-toggle="table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                    {% if tasks_len == 0 %}
                        <div class="container">
                            <h3 class="text-warning">No task to show </h3>
                        </div>
                    {% else %}

                        {% for task in tasks %}
                            <tr>
                                <td>{{task.id}}</td>
                                <td>{{task.title}}</td>
                                <td>{{task.description}}</td>
                                <td>{{task.date}}</td>
                                <td class="align-items-center pr-0">
                                    <a class="btn btn-primary" href="/{{task.id}}/">Get</a>
                                    <a class="btn btn-secondary" href="/update/{{task.id}}/">Edit</a>
                                    <a class="btn btn-danger mr-0" href="/delete/{{task.id}}/">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}
            </tbody>
        </table>
  </div>

{% endblock body %}